<%# Shift manager  -----------------------------------------------------------------------------%>

<h2>シフト提出と確定状況</h2>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>案件名</th>
      <th>希望</th>
      <th>確定</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% (@projects || []).each do |project| %>
      <tr>
        <td><%= project.work_date %></td>
        <td><%= project.title %></td>
        <td><%= @shift_requests[project.id]&.status || "未提出" %></td>
        <td>
          <% if @shift_assignments[project.id] %>
            ✔️ 勤務決定
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <%= form_with url: scheduler_shift_requests_path, method: :post do %>
            <%= hidden_field_tag :project_id, project.id %>
            <%= select_tag :status, options_for_select([["OK", "ok"], ["NG", "ng"]], @shift_requests[project.id]&.status) %>
            <%= submit_tag "送信" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
