
<div
  class="modal hidden"
  data-modal-target="modal"
  data-action="click->modal#close">        <!-- バックドロップクリックで閉じる -->

  <div
    class="modal-content"
    data-action="click->modal#stop">       <!-- 中身クリック時は伝播を止める -->

    <!-- 閉じるボタン -->
    <button
      class="modal-close"
      data-action="click->modal#close">
      <%= image_tag "menu__close", alt: "close", class: "btn-modal-close" %>
    </button>

    <h2>新規ユーザー登録</h2>

    <%= form_with model: @user, url: manager_users_path, local: true do |f| %>
      <%= f.label :employee_id, "従業員ID" %>
      <%= f.text_field :employee_id %>

      <%= f.label :name, "氏名" %>
      <%= f.text_field :name %>

      <%= f.label :joined_on, "入社日" %>
      <%= f.date_field :joined_on %>

      <%= f.label :work_style, "勤務形態" %>
      <%= f.select :work_style, ["正社員", "アルバイト", "業務委託"] %>

      <%= f.label :skill_level, "習熟度" %>
      <%= f.select :skill_level, ["レベル0", "レベル1", "レベル2", "レベル3"] %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>

      <%= f.submit "登録" %>
    <% end %>

  </div>
  <!--modal contentここまで-->

</div>