<!DOCTYPE html>
<html>
  <head>
    <title>Shift Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- 共通CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Manager 用CSS -->
    <%= stylesheet_link_tag "manager/base", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="manager-layout">
      <!-- Side menu -->
      <aside class="sidebar">
        <div class="user-info">
          <div class="user-info-chip">
            <%= image_tag "icon__mypage.svg", class: "user-icon", alt: "ユーザーアイコン" %>
            <div class="user-name"><%= current_user.name %>さん</div>
          </div>
        </div>

        <nav class="menu">
          <%= link_to manager_assignments_path, class: "menu-item #{'active' if current_page?(manager_assignments_path)}" do %>
            <%= image_tag "icon__shift.svg", class: "menu-icon shift-icon", alt: "割り当て状況" %>
            <span>割り当て状況</span>
          <% end %>

          <%= link_to manager_confirmed_index_path, class: "menu-item #{'active' if current_page?(manager_confirmed_index_path)}" do %>
            <%= image_tag "icon__shift_checked.svg", class: "menu-icon shift-icon", alt: "確定シフト" %>
            <span>確定シフト</span>
          <% end %>

          <%= link_to new_manager_project_path, class: "menu-item #{'active' if current_page?(new_manager_project_path)}" do %>
            <%= image_tag "icon__plus.svg", class: "menu-icon", alt: "案件登録" %>
            <span>案件登録</span>
          <% end %>

          <%= link_to manager_users_path, class: "menu-item #{'active' if current_page?(manager_users_path)}" do %>
            <%= image_tag "icon__user.svg", class: "menu-icon", alt: "ユーザー管理" %>
            <span>ユーザー管理</span>
          <% end %>
        </nav>

        <div class="logout-tooltip-container">
          <%= button_to destroy_user_session_path, method: :delete, class: "logout-button" do %>
            <%= image_tag "icon__logout.svg", class:"menu-icon", alt: "ログアウト" %>
          <% end %>
          <span class="logout-tooltip-text">ログアウト</span>
        </div>
      </aside>

      <main class="main-content">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
